
<body id="body" >


  <section class="resources-page-header hero-area-tint">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Resources</h2>
        </div>
      </div>
    </div>
  </section>

<%= link_to "Key Websites", web_site_index_path %>

</body>