// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
body {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  color: #848484;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  transition: all .3s ease-in 0s;
}
.section {
  padding: 100px 0;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.logo {
  margin-top: 10px;
  display: inline-block;
}
.hero-area {
  background-image: url(asset-path("office.jpg"));

  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-area-tint {
  background-color: rgba(43, 41, 39, 0.65); /* Tint color */
  background-blend-mode: multiply;
}
.hero-area .block {
  color: #fff;
}
.hero-area .block h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hero-area .block p {
  color: #fff;
  width: 50%;
  margin-bottom: 20px;
}
.hero-area .block .btn-main {
  margin-right: 8px;
}
.hero-area .block .btn-main:hover {
  opacity: .8;
}
.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #28ABE3;
}
.title p {
  color: #848484;
  width: 50%;
  margin: 0 auto;
}
/* /slick arrows */
/*=================================================================
  About us section
==================================================================*/
.about {
  padding: 100px 0;
  background: #fff;
}
.about .btn-about {
  background: #28ABE3;
}
.about h4 {
  margin-top: 30px;
}
.about .feature-list {
  margin-top: 10px;
}
.about .feature-list li {
  width: 48%;
  display: inline-block;
  color: #666;
  font-size: 13px;
  font-family: "Catamaran", sans-serif;
  margin-bottom: 5px;
  font-weight: 600;
}
.about .feature-list li i {
  color: #28ABE3;
  margin-right: 8px;
}
/*=================================================================
 Call To Action 2
==================================================================*/
.call-to-action-2 {
  padding: 100px 0;
  background-image: url(asset-path("call-to-action-bg-2.jpg"));
  background-size: cover;
  color: #fff;
}
.call-to-action-2 h2 {
  line-height: 1.5;
}
.call-to-action-2 p {
  color: #fff;
}
.call-to-action-2 .btn-main {
  margin-top: 20px;
}
/*=================================================================
  Services section
==================================================================*/
.services {
  padding: 100px 0 130px;
}
.services .service-block.color-bg {
  background: #28ABE3;
  color: #fff;
}
.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
  color: #fff;
}
.services .service-block .service-icon {
  margin-bottom: 30px;
}
.services .service-block i {
  font-size: 75px;
  color: #28ABE3;
}
.services .service-block h3 {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.services .service-block p {
  font-size: 14px;
  color: #666;
}
/*=================================================================
  Footer section
==================================================================*/
.footer-bottom {
  text-align: center;
  background-color: #1b1b1b;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
}
.footer-bottom h5 {
  font-size: 12px;
  line-height: 1;
  color: #888888;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}
/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .counters-item:before {
    display: none;
  }
  /* our skills */
  .skill-chart {
    margin: 0 auto 40px;
    width: 300px;
  }
  .skill-chart {
    margin: 0 auto 40px;
    width: 90%;
  }
  .skill-chart > h3 {
    margin: 15px 0;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  /* h1 font size home slider */
  h1 {
    font-size: 25px !important;

  }
  /* fun facts */
  /* services */
  #services .title {
    padding-bottom: 60px;
  }
  /* our skills */
  .skill-chart {
    margin: 0 auto 40px;
    width: 280px;
  }


}
/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title h2 {
    font-size: 32px;
  }
  .counter .counter-title h2 {
    font-size: 35px;
  }
}

