// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.resources-page-header {
  background-image: url(asset-path("resources"));
  background-size: cover;
  padding: 140px 0 70px;
  text-align: center;
  color: #fff;
  position: relative;
}

.tidy-text {
  white-space:pre-line; 
  word-break: break-all
}

